openapi: 3.0.0
servers:
  - description: production url
    url: https://apigateway.twcc.ai/api/v3/default_harbor/
  - description: staging url
    url: https://apigateway.twcc.tw/api/v3/default_harbor/
info:
  version: 1.0.0-alpha
  title: Harbor API
security:
  - ApiKeyAuth: []
tags:
  - name: project
paths:
  /projects/{project_id}/images/:
    get:
      tags:
        - project
      summary: List Harbor images of a project repository
      description: https://git.twcc.ai/twcc/ma-team/-/issues/6062#note_205369
      parameters:
        - $ref: '#/components/parameters/ProjectInPathParam'
        - $ref: '#/components/parameters/ApiHostParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                example: |-
                  [
                      {
                          "artifact_count": 2,
                              "artifacts": [
                                  {
                                      "digest": "sha256:2468d48e476b6a079eb646e87620f96ce1",
                                      "pull_time": "0001-01-01T00:00:00.000Z",
                                      "push_time": "2022-03-04T07:31:00.282Z",
                                      "scan_overview": null,
                                      "size": "54.10MiB",
                                      "tags": [
                                          {
                                            "immutable": false,
                                            "name": "v3",
                                            "pull_time": "0001-01-01T00:00:00.000Z",
                                            "push_time": "2022-04-12T08:42:09.464Z",
                                            "signed": false
                                          },
                                          {
                                            "immutable": false,
                                            "name": "latest",
                                            "pull_time": "0001-01-01T00:00:00.000Z",
                                            "push_time": "2022-03-04T07:31:00.321Z",
                                            "signed": false
                                          }
                                      ]
                                  },
                                  {
                                      "digest": "sha256:ad2d74f1fd54f85a91f763c91862ed13539e80d005882adcee9602d254fc5280",
                                      "pull_time": "2022-04-25T06:53:41.514Z",
                                      "push_time": "2022-04-25T01:46:51.515Z",
                                      "scan_overview": {
                                          "complete_percent": 100,
                                          "end_time": "2022-04-25T06:53:45.000Z",
                                          "scan_status": "Success",
                                          "severity": "Critical",
                                          "start_time": "2022-04-25T06:53:26.000Z"
                                      },
                                      "size": "40.00MiB",
                                      "tags": [
                                          {
                                              "immutable": false,
                                              "name": "v4",
                                              "pull_time": "0001-01-01T00:00:00.000Z",
                                              "push_time": "2022-04-25T01:46:51.587Z",
                                              "signed": false
                                          }
                                      ]
                                  }
                              ],
                          "creation_time": "2022-03-04T07:31:00.242Z",
                          "name": "nginx",
                          "pull_count": 1,
                          "update_time": "2022-04-25T06:53:41.516Z"
                      }
                  ]
  /projects/{project_id}/images/{image_name}/tags/:
    post:
      tags:
        - project
      summary: Retag a Harbor image
      description: Retag a Harbor image
      parameters:
        - $ref: '#/components/parameters/ProjectInPathParam'
        - $ref: '#/components/parameters/ImageNameParam'
        - $ref: '#/components/parameters/ApiHostParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                  description: New tag name
                source:
                  type: string
                  description: Source tag name
      responses:
        201:
          description: Created
          content: {}
  /projects/{project_id}/images/{image_name}/tags/{tag_name}/:
    delete:
      tags:
        - project
      summary: Remove a tag of a Harbor image
      description: Remove a tag of a Harbor image
      parameters:
        - $ref: '#/components/parameters/ProjectInPathParam'
        - $ref: '#/components/parameters/ImageNameParam'
        - $ref: '#/components/parameters/TagNameParam'
        - $ref: '#/components/parameters/ApiHostParam'
      responses:
        204:
          description: No Content
          content: {}
  /projects/{project_id}/harbor_quotas/:
    get:
      tags:
        - project
      summary: Get Harbor storage quota and usage of a project repository
      description: Get Harbor storage quota and usage of a project repository
      parameters:
        - $ref: '#/components/parameters/ProjectInPathParam'
        - $ref: '#/components/parameters/ApiHostParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                example: |-
                  {
                      "quota": -1,
                      "usage": 12483354
                  }
    patch:
      tags:
        - project
      summary: Update Harbor storage quota of a project repository
      description: Update Harbor storage quota of a project repository
      parameters:
        - $ref: '#/components/parameters/ProjectInPathParam'
        - $ref: '#/components/parameters/ImageNameParam'
        - $ref: '#/components/parameters/ApiHostParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                quota:
                  type: integer
                  description: New storage quota of project
      responses:
        201:
          content:
            application/json:
              schema:
                type: object
                example: |-
                        {
                            "quota": 10737418240,
                            "usage": 12483354
                        }
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  schemas:
  parameters:
    ProjectInQueryParam:
      name: project
      in: query
      description: Harbor project ID
      required: true
      schema:
        type: integer
    ProjectInPathParam:
      name: project_id
      in: path
      description: 專案ID
      required: true
      schema:
        type: integer
    ImageNameParam:
      name: image_name
      in: path
      description: Image name. You can find it in Image List API
      required: true
      schema:
        type: string
    TagNameParam:
      name: tag_name
      in: path
      description: Tag name to be deleted
      required: true
      schema:
        type: string
    ApiHostParam:
      name: x-api-host
      in: header
      description: 認證必要參數
      required: true
      schema:
        type: string
        default: default_harbor
      examples:
        production:
          summary: production
          value: default_harbor
        staging:
          summary: staging
          value: default_harbor